section {
  display: none;
}

html {
  font-family: monospace;
  color: white;
  background-color: black;
}

h1, h2 {
  text-align: center;
  margin-bottom: 200px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}